/*******************************
            Global
*******************************/

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.menu.no-border {
  border-radius: 0;
}

.ui.menu .item {
  line-height: 2em;
}

.container {
  padding: 0 10px 10px;
}

.container-login {
  padding: 0 10px;
  width: 600px;
  margin: 0 auto;
}

.container-report {
  padding: 0 10px;
  width: 800px;
  margin: 0 auto;
}

.ui.menu:not(.vertical) .item > .input {
  vertical-align: middle;
  width: 320px;
}